# Ignore Python virtual environments
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code workspace settings
.vscode/

# Python cache files
__pycache__/
*.pyc

# OS-specific files
.DS_Store
Thumbs.db

# Ignore data files
stock_data.csv
hourly_crypto_prices.csv